---
import Layout from "../layouts/Layout.astro";
import Logo from "./logo.astro";
---

<Layout title="Note Code">
  <main class="container w-full h-full mx-auto">
    <div class="flex-col w-full h-full py-12">
      <div class="flex justify-center items-center pb-8">
        <Logo />
      </div>
      <div class="flex flex-col justify-center items-center space-y-4 pb-8">
        <h1 class="font-outfit font-semibold text-[32px]">Create & Share</h1>
        <h2 class="font-semibold text-[40px]">Your Code easily</h2>
      </div>
      <div class="h-[75%] xl:px-0 lg:px-24 px-4">
        <slot />
      </div>
    </div>
  </main>
</Layout>
